<footer>
  <div class="page-footer">
    <a href="https://dkarkiver.dk" aria-label="Organisationen Danske Arkivers hjemmeside">ODA</a>
    <a href="{{site.github.url}}/privacy-policy">Databeskyttelse</a>
    <span>
      <a href="https://www.was.digst.dk/byraadsarkivet-aarhus-dk">Tilgængelighedserklæring</a>
      <span> &#129109;</span>
    </span>
    <a href="https://github.com/aarhusstadsarkiv/smartarkivering" aria-label="Hjemmesidens kildekode">{% include icon-github.svg %}</a>
  </div>
</footer>
