<header role="banner">
  <div class="page-header">
    <div class="logo-wrapper">
      <h2 id="logo">
        <a href="{{site.github.url}}/" aria-label="Gå til forsiden">Smartarkivering</a>
      </h2>
    </div>
    <div class="navigation">
      <input type="checkbox" id="menu-toggle"/>
      <label for="menu-toggle" class="hamburger">
        <span class="hamburger-open">&#9776;</span>
        <span class="hamburger-close">&#10005;</span>
      </label>
      <ul class="menu">
        <li><a href="{{site.github.url}}/deposit">Afléver filer</a></li>
        <li><a href="{{site.github.url}}/archives">Deltagere</a> </li>
        <li><a href="{{site.github.url}}/about" aria-label="Alt om projektet">Om</a></li>
      </ul>
    </div>
  </div>
</header>
