/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: rgb(0, 102, 204);
    text-decoration: none;
}
a:visited {
    color: rgb(0, 102, 204);
}
a:hover {
    text-decoration: underline;
}
ul, ol {
    list-style-type: disc;
    margin-left: 1em;
}
p {
    margin-bottom: 1em;
}
/* basics */
html, body {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: #222;
    font-size: 1.1em;
    line-height: 1.8em;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Arial, Century, sans-serif;
}
main {
    padding: 1.5em 1em;
    flex-grow: 1;
}
.page-content {
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 1em;
}
header, footer {
    padding: .5em 1em;
    flex-grow: 0;
    flex-shrink: 0;
}
header {
    color: #fff;
    background-color: rgb(5, 80, 116);
}
header a:hover {
    text-decoration: none;
}
footer {
    background-color: #efefef;
    font-size: .9em;
}
.page-header, .page-footer {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* .page-footer {
    flex-wrap: wrap;
} */
/* Header */
h1#logo {
    font-weight: 400;
    font-size: 1.8em;
    padding: 0;
    margin: 0;
    border: 0;
}
.page-header a {
    color: #fff;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: .7em;
    font-size: 1.2em;
    list-style: none;
    margin-left: 0;
}
.menu a {
    display: inline-block;
    padding: 5px 14px;
}
.menu a:hover {
    background-color: #436c97;
    border-radius: 5px;
    transition: 0.3s ease;
}


/* CHECKBOX HACK */
#menu-toggle {
    display: none;
} 
    
/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 640px) {
    /* header */
    .hamburger {
        cursor: pointer;
        display: block;
    }
    .hamburger-open {
        display: inline-block;
    }
    .hamburger-close {
        display: none;
    }
    .menu { 
        display:none;
        position: absolute;
        background-color:rgb(5, 80, 116);
        right: 0;
        left: 0;
        text-align: center;
        padding: 0;
        gap: 0;
    }
    .menu li {
        /* padding: .5em 0; */
        padding: 0;
    }
    .menu li:hover {
        display: block;
        transition: 0.3s ease;
    }
    .menu li a {
        display: block;
        width: 100%;
    }
    #menu-toggle:checked ~ .menu {
        display: block;
        padding-top: .5em;
    }
    #menu-toggle:checked ~ .hamburger .hamburger-open {
        display: none;
    }
    #menu-toggle:checked ~ .hamburger .hamburger-close {
        display: inline-block;
    }
    /* footer */
    .page-footer,
    .page-footer a {
        display: block;
    }
}

/* https://web.dev/accessible-tap-targets/ */
@media (any-pointer: coarse) {
    a {
        padding-top: .8em;
        padding-bottom: .8em;
    }
}

h1 {
    font-weight: normal;
    padding-bottom: .2em;
    padding-top: .15em;
    border-bottom: 1px solid #9e9a9a;
    margin-bottom: .6em;
}
h2 {
    font-weight: normal;
    padding-bottom: .15em;
    padding-top: .2em;
    margin-bottom: .25em;
}

.benefits-header {
    margin: 1em 0 .8em;
}
.deposit-container {
    display: flex;
    justify-content: flex-end;
}
a.deposit-button {
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    padding: .75rem 1rem;
    background-color: #0060e6;
    border-color: #0060e6;
    color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,0);
    vertical-align: middle;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    /* float: right; */

}
a.deposit-button:hover {
    background-color: #004cb8;
    border-color: #004cb8;
    color: #fff;
}

.terms {
    padding: 1em;
    background-color: #e6e6e6;
}

@media (min-width: 45em) {
    .two-cols {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5em;
        align-items: start;
        margin-bottom: 1.5em;
    }
}
.two-cols img {
    width: 100%;
}
